<launch>
  <node name="trader" pkg="complier_service" type="trader_node" output="screen">
    <param name="lighthouse" value="0x202a09A451DE674d2d65Bf1C90968a8d8F72cf7b" />
    <param name="model" value="QmW3dTa1QZxnZzpF9TDuHKN7GDKaJDVoQys4u38xmdAGHF" />
    <param name="token" value="0x368C35597A9068280028c424122DE9129fAF8689" />
    <param name="objective" value="QmUA5ZHHqFZyR1T1KxxheyrUzEEymfKb3goPZt1jLDNEWL" />
    <param name="price" value="1" />
    <param name="order_lifetime" value="10" />
  </node>
</launch>
